body{
    background-image: url("backgrd.png");
    background-repeat: repeat-x;
}
h1{
    color:yellow;
    text-shadow: 2px 3px 2px red;
    text-align: center;
    text-transform: uppercase;
    margin-top:60px;
    margin-bottom: -30px;
}
section.menu > ul{
    margin-top:100px;
    padding:10px 10px;
    background-color: rgb(72, 179, 143);
    display:flex;
    justify-content: center;
    list-style-type: none;
}
section.menu ul li{
    padding-left:10px;
}
li a{
    padding:10px 10px;
    list-style-type: none;
    color:white;
    text-decoration: none;
    background-color: rgb(63, 151, 131);
}
li a:hover{
    background-color: rgb(86, 193, 145);
}
section.category div{
    display:flex;
    
}