h3{
    text-align: center;
}
table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
}
tr:nth-child(odd){
    background-color: lightgray;

}
tr:first-child{
    background-color: rgb(139, 139, 139);
    text-align: center;
}